/* チャット入力欄 */
label,
textarea {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Helvetica Neue", "Lucida Sans Unicode", "Arial";
    font-size: 16px;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

#message-area {
        box-sizing: border-box;
        max-width: 800px;
        margin: 0 auto;
        /* ここでメッセージエリアの背景色を変えられます */
        background: #f7edaf;
}
#message-text {
        width: 100%;
        box-sizing: border-box;
}
#submit {
    margin: 0 auto;
}