#input {
    min-width: 100px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
}

#input div {
    margin-bottom: 20px;
}

#text {
    width: 100%;
    height: 200px;
    display: block;
}

#voice-area {
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
    /* 音声出力の背景はこちらで変更できます */
    background: #e4f7af;
}