<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>flaskの動作確認</title>
</head>

<body>
    <style>
        table, td, th {
            border: 2px #cccccc solid;
            }
    </style>
    <table>
    <tr><th>ID</th><th>username</th><th>mail</th><th>birth</th></tr>
    <tr><td>1</td>
        <td>user1</td>
        <td>aaa1@bbb.ccc</td>
        <td>2004-1-1</td>
    </tr>
    <tr><td>2</td>
        <td>usre2</td>
        <td>aaa2@bbb.ccc</td>
        <td>2000-1-1</td>
    </tr>
</table>
</body>
</html>