<html>

<head>
    <title>Text-to-Speech Example Application</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/talk.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/talk.css') }}" />
</head>

<body>
    <form id="input" method="GET" action="/read">
        <div>
            <label for="voice">Select a voice:</label>
            <select id="voice" name="voiceId" disabled>
                <option value="">Choose a voice...</option>
            </select>
        </div>
        <div>
            <label for="text">Text to read:</label>
            <textarea id="text" maxlength="1000" minlength="1" name="text"
                    placeholder="Type some text here..."></textarea>
        </div>
        <input type="submit" value="Read" id="submit" />
    </form>
    <audio id="player"></audio>
</body>

</html>